.text-container {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50px; 
    color : rgb(193, 64, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-text {
    opacity: 0;
    animation: fade 4s ease-in-out infinite;
    position: absolute;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
